/*
1. Typography
2. Page Layout
3. Media Query Ranges
4. colors



*/
/********************************** 1. Typography********************/
/********************************** /Typography********************/
/********************************** 2. Page Layout********************/
/********************************** /Page Layout********************/
/********************************** 3. Media Query Ranges********************/
/********************************** /Media Query Ranges********************/
/********************************** 4. colors********************/
/********************************** /colors********************/
/*

(1) POSITIONS-MIXINS
(2) SHADOW-BOX
(3) BORDERS
(4) FLEX
(5) OVERLAY

*/
/********(1) POSITIONS-MIXINS***********/
/******** /POSITIONS-MIXINS***********/
/********(2) SHADOW-BOX***********/
/******** /SHADOW-BOX***********/
/********(3) BORDERS***********/
/******** /BORDERS***********/
/********(4) FLEX***********/
/******** /FLEX***********/
/********(5) OVERLAY***********/
/******** /OVERLAY***********/
#prio .prio-checkbox [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 1px solid #BCBCBC;
  height: 24px;
  width: 24px;
  border-radius: 4px; }
#prio .prio-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):after {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border-radius: 4px;
  border-color: #1BB7C2;
  background-color: #1BB7C2; }
#prio .prio-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):before {
  top: 0;
  left: 2px;
  width: 9px;
  height: 15px; }
#prio .prio-checkbox [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::after {
  background-color: transparent;
  border: 1px solid #EAEAEA; }
#prio .prio-checkbox [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::before {
  display: none; }
#prio .prio-checkbox.small [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  top: 5px; }
#prio .prio-checkbox.small [type="checkbox"].filled-in:checked + span:not(.lever):after {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  top: 5px; }
#prio .prio-checkbox.small [type="checkbox"].filled-in:checked + span:not(.lever):before {
  top: -1px;
  left: 1px;
  width: 7px;
  height: 10px;
  top: 4px; }
#prio .prio-checkbox.prio-rounded [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border-radius: 50%; }
#prio .prio-checkbox.prio-rounded [type="checkbox"].filled-in:checked + span:not(.lever):after {
  border-radius: 50%; }
#prio .prio-checkbox.prio-rounded [type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
  top: 1px;
  left: 2px;
  width: 9px;
  height: 14px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #BCBCBC;
  border-bottom: 2px solid #BCBCBC; }
#prio .prio-checkbox.prio-rounded [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::after {
  background-color: transparent;
  border: 1px solid #EAEAEA; }
#prio .prio-checkbox.prio-rounded [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::before {
  display: none; }
#prio .prio-checkbox.prio-disabled span {
  color: #EAEAEA; }

/*
$primaryColor: #1BB7C2;
$secondaryColor: #29A2AC;


$borderColor: #eaeaea !default;
$progressBackgroundColor: #eaeaea !default;

$defaultIconColor: #eaeaea !default;
$disabledColor: #eaeaea !default;

$whiteColor: #fff !default;
$body1Color: #FAFAFA !default;
$body2Color: #EAEAEA !default;
$body3Color: #BCBCBC !default;
$placeholderColor:#BCBCBC !default;
$body4Color: #6D6D6D !default;
$body5Color: #202124 !default;
$ticketNotificationColor: #F9B000 !default;


$actionColor: #00DC81 !default;
$action1Color: #5FE4AB !default;
$action2Color: #FFE500 !default;
$action3Color: #FF9700 !default;
$action4Color: #FF4411 !default;

$labelColor: #6d6d6d !default;
$errorColor : #FF4411 !default;
$disabledlabelColor: #bcbcbc !default;
*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto_regular; }

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #fafafa; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

*:focus {
  outline: none !important;
  box-shadow: none !important; }

:invalid {
  box-shadow: none; }

:-moz-submit-invalid {
  box-shadow: none; }

:-moz-ui-invalid {
  box-shadow: none; }

/* start left navbar */
.navbar-left {
  width: 272px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #202124;
  overflow-y: auto; }
  .navbar-left .prio-row {
    width: 100%;
    height: auto; }
  .navbar-left .prio-row1 {
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 28px; }
    .navbar-left .prio-row1 svg {
      cursor: pointer; }
    .navbar-left .prio-row1 .brand {
      margin-left: 24px; }
  .navbar-left .prio-row2 {
    padding-top: 48px;
    padding-left: 28px;
    padding-right: 28px; }
    .navbar-left .prio-row2 .title {
      font-size: 20px;
      font-family: Roboto_medium;
      line-height: 22px;
      color: #fff;
      margin: 0px; }
    .navbar-left .prio-row2 .subtitle {
      font-size: 14px;
      font-family: Roboto_medium;
      line-height: 17px;
      color: #fff;
      margin: 0px;
      margin-top: 8px; }
  .navbar-left .prio-row3 {
    padding-top: 48px; }
    .navbar-left .prio-row3 a .item {
      width: 100%;
      padding: 11.75px 28px;
      padding-bottom: 13.75px;
      display: block;
      margin-top: 6px !important;
      cursor: pointer;
      position: relative; }
      .navbar-left .prio-row3 a .item .extrainfo {
        background-color: #202124;
        position: absolute;
        left: 68px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 124 !important;
        text-align: left;
        padding: 5px 8px;
        display: none; }
        .navbar-left .prio-row3 a .item .extrainfo p {
          color: #fff;
          margin: 0px; }
      .navbar-left .prio-row3 a .item .svg-box {
        width: 22px;
        height: auto;
        position: relative;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        overflow: visible; }
        .navbar-left .prio-row3 a .item .svg-box svg {
          margin: 0px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .navbar-left .prio-row3 a .item .item-name {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        font-family: Roboto_medium;
        line-height: 17px;
        color: #fff;
        margin: 0px;
        margin-left: 29px; }
      .navbar-left .prio-row3 a .item .tag {
        display: inline-block;
        vertical-align: middle;
        background-color: #FF4411;
        padding: 3px 7px;
        margin-left: 12px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px; }
        .navbar-left .prio-row3 a .item .tag p {
          font-size: 12px;
          font-family: Roboto_medium;
          line-height: 14px;
          color: #fff;
          margin: 0px; }
    .navbar-left .prio-row3 a .item-active {
      background-color: #1BB7C2;
      position: relative; }
      .navbar-left .prio-row3 a .item-active .left-bar-active {
        width: 4px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0; }
    .navbar-left .prio-row3 a .item:hover {
      background-color: #1BB7C2; }
    .navbar-left .prio-row3 a .item:first-child {
      margin-top: 0px; }
  .navbar-left .prio-row4 {
    height: auto;
    padding: 0px 28px;
    position: absolute;
    bottom: 64px; }
    .navbar-left .prio-row4 svg {
      display: inline-block;
      vertical-align: middle; }
    .navbar-left .prio-row4 .logout {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 14px;
      line-height: 17px;
      font-family: Roboto_medium;
      margin: 0px;
      margin-left: 29px; }

/* end left navbar */
/* start top navbar */
.top-navbar {
  width: calc(100% - 272px);
  height: auto;
  margin-left: 272px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16); }
  .top-navbar .inner-top-navbar {
    width: 1504px;
    margin: 0 auto;
    height: auto;
    padding-top: 19px;
    padding-bottom: 18px; }
    .top-navbar .inner-top-navbar .content {
      text-align: right;
      position: relative;
      right: -24px; }
      .top-navbar .inner-top-navbar .content .notifications-popup {
        width: 480px;
        max-width: 100%;
        height: auto;
        position: absolute;
        right: 76px;
        top: 46px;
        z-index: 20;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.28);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.28);
        display: none; }
        .top-navbar .inner-top-navbar .content .notifications-popup .notifications-arrow {
          position: absolute;
          top: -7px;
          right: 8px; }
        .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row {
          width: 100%;
          height: auto;
          display: inline-block; }
        .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row1 {
          padding-top: 14px;
          padding-bottom: 12px;
          border-bottom: 1px solid #EAEAEA;
          text-align: center; }
          .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row1 .title {
            color: #202124;
            font-size: 20px;
            line-height: 24px;
            font-family: Roboto_medium;
            margin: 0px; }
        .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row2 {
          padding: 16px 28px;
          border-bottom: 1px solid #EAEAEA;
          text-align: left;
          position: relative; }
          .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row2 .title {
            font-size: 14px;
            line-height: 17px;
            color: #202124;
            font-family: Roboto_regular;
            margin: 0px; }
            .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row2 .title span {
              font-family: Roboto_bold; }
          .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row2 .time {
            font-size: 12px;
            color: #BCBCBC;
            line-height: 14px;
            margin: 0px;
            margin-top: 2px; }
          .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row2 .border-left {
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            background-color: #1BB7C2; }
        .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row2:hover .border-left {
          display: block; }
        .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row2:hover .title {
          color: #1BB7C2; }
        .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row3 {
          padding-top: 15.3px;
          padding-bottom: 15.7px;
          text-align: center; }
          .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row3 p {
            color: #202124;
            font-size: 14px;
            line-height: 17px;
            margin: 0px; }
          .top-navbar .inner-top-navbar .content .notifications-popup .notifications-row3 p:hover {
            color: #1BB7C2; }
      .top-navbar .inner-top-navbar .content .notifications-popup-active {
        display: block; }
      .top-navbar .inner-top-navbar .content .user-popup {
        width: 288px;
        max-width: 100%;
        height: auto;
        position: absolute;
        right: -11px;
        top: 46px;
        z-index: 20;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.28);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.28);
        display: none; }
        .top-navbar .inner-top-navbar .content .user-popup .user-popup-arrow {
          position: absolute;
          top: -7px;
          right: 8px; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row {
          width: 100%;
          padding: 0px 32px;
          text-align: left;
          display: inline-block; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row1 {
          padding-top: 16px;
          padding-bottom: 16px;
          border-bottom: 1px solid #EAEAEA; }
          .top-navbar .inner-top-navbar .content .user-popup .user-row1 .title {
            color: #202124;
            font-size: 20px;
            line-height: 20px;
            font-family: Roboto_medium;
            margin: 0px; }
          .top-navbar .inner-top-navbar .content .user-popup .user-row1 .role {
            color: #202124;
            font-size: 16px;
            line-height: 19px;
            margin: 8px 0px; }
          .top-navbar .inner-top-navbar .content .user-popup .user-row1 .email {
            color: #BCBCBC;
            font-size: 14px;
            line-height: 17px;
            margin: 0px; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row2 {
          padding-top: 16px;
          padding-bottom: 16px; }
          .top-navbar .inner-top-navbar .content .user-popup .user-row2 svg {
            display: inline-block;
            vertical-align: middle; }
          .top-navbar .inner-top-navbar .content .user-popup .user-row2 .name {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
            margin: 0px;
            margin-left: 26px; }
          .top-navbar .inner-top-navbar .content .user-popup .user-row2 .name2 {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
            margin: 0px;
            margin-left: 30px; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row2:hover svg path {
          stroke: #1BB7C2; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row2:hover svg line {
          stroke: #1BB7C2; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row2:hover svg circle {
          stroke: #1BB7C2; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row2:hover p {
          color: #1BB7C2; }
        .top-navbar .inner-top-navbar .content .user-popup .user-row2-border {
          border-bottom: 1px solid #EAEAEA; }
      .top-navbar .inner-top-navbar .content .user-popup-active {
        display: block; }
      .top-navbar .inner-top-navbar .content svg {
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
        cursor: pointer; }
      .top-navbar .inner-top-navbar .content .notifications-active path {
        fill: #1BB7C2;
        stroke: #1BB7C2; }
      .top-navbar .inner-top-navbar .content .notifications-active g {
        fill: #1BB7C2;
        stroke: #1BB7C2; }
      .top-navbar .inner-top-navbar .content .notifications:hover path {
        fill: #1BB7C2;
        stroke: #1BB7C2; }
      .top-navbar .inner-top-navbar .content .notifications:hover g {
        fill: #1BB7C2;
        stroke: #1BB7C2; }
      .top-navbar .inner-top-navbar .content .user {
        margin-left: 32px; }
      .top-navbar .inner-top-navbar .content .user:hover path {
        fill: #1BB7C2;
        stroke: #1BB7C2; }
      .top-navbar .inner-top-navbar .content .user-active path {
        fill: #1BB7C2;
        stroke: #1BB7C2; }

/* end top navbar */
@media (min-width: 320px) and (max-width: 768px) {
  /* start left navbar */
  .navbar-left {
    width: 80px !important;
    text-align: center; }
    .navbar-left .prio-row1 {
      display: none !important; }
    .navbar-left .prio-row2 {
      display: none !important; }
    .navbar-left .prio-row3 {
      padding-top: 6px !important;
      padding-bottom: 24px; }
      .navbar-left .prio-row3 a .item .item-name {
        display: none !important; }
      .navbar-left .prio-row3 a .item .tag {
        display: none !important; }
      .navbar-left .prio-row3 a .item .tag-sm {
        width: 8px;
        height: 8px;
        background-color: #FF4411;
        position: absolute;
        top: 8px;
        right: 18px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .navbar-left .prio-row3 a .extrainfo {
        display: block !important; }
    .navbar-left .prio-row4 {
      height: auto;
      position: static;
      padding-bottom: 24px; }
      .navbar-left .prio-row4 svg {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 1px; }
      .navbar-left .prio-row4 .logout {
        display: none !important; }

  /* end left navbar */
  /* start top navbar */
  .top-navbar {
    width: calc(100% - 80px);
    margin-left: 80px; }
    .top-navbar .inner-top-navbar {
      width: calc(100% - 64px);
      margin: 0 auto; }
      .top-navbar .inner-top-navbar .notifications-popup {
        position: absolute;
        right: 24px !important; }
        .top-navbar .inner-top-navbar .notifications-popup .notifications-arrow {
          position: absolute;
          right: 60px !important; }
      .top-navbar .inner-top-navbar .user-popup {
        position: absolute;
        right: 22px !important; }

  /* end top navbar */ }
@media (min-width: 768px) and (max-width: 991px) {
  /* start left navbar */
  .navbar-left {
    width: 80px !important;
    text-align: center; }
    .navbar-left .prio-row1 {
      display: none !important; }
    .navbar-left .prio-row2 {
      display: none !important; }
    .navbar-left .prio-row3 {
      padding-top: 6px !important;
      padding-bottom: 24px; }
      .navbar-left .prio-row3 a .item .item-name {
        display: none !important; }
      .navbar-left .prio-row3 a .item .tag {
        display: none !important; }
      .navbar-left .prio-row3 a .item .tag-sm {
        width: 8px;
        height: 8px;
        background-color: #FF4411;
        position: absolute;
        top: 8px;
        right: 18px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .navbar-left .prio-row3 a .extrainfo {
        display: block !important; }
    .navbar-left .prio-row4 {
      height: auto;
      position: static;
      padding-bottom: 24px; }
      .navbar-left .prio-row4 svg {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 1px; }
      .navbar-left .prio-row4 .logout {
        display: none !important; }

  /* end left navbar */
  /* start top navbar */
  .top-navbar {
    width: calc(100% - 80px);
    margin-left: 80px; }
    .top-navbar .inner-top-navbar {
      width: calc(100% - 64px);
      margin: 0 auto; }
      .top-navbar .inner-top-navbar .user-popup {
        position: absolute;
        right: 22px !important; }

  /* end top navbar */ }
@media (min-width: 992px) and (max-width: 1679px) {
  /* start left navbar */
  .navbar-left .tag-sm {
    width: 8px;
    height: 8px;
    background-color: #FF4411;
    position: absolute;
    top: 8px;
    right: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none; }

  /* end left navbar */
  /* start top navbar */
  .top-navbar .inner-top-navbar {
    width: calc(100% - 64px);
    margin: 0 auto; }
    .top-navbar .inner-top-navbar .user-popup {
      position: absolute;
      right: 22px !important; }

  /* end top navbar */ }
@media (min-width: 1680px) and (max-width: 1919px) {
  /* start left navbar */
  .navbar-left .tag-sm {
    width: 8px;
    height: 8px;
    background-color: #FF4411;
    position: absolute;
    top: 8px;
    right: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none; }

  /* end left navbar */
  /* start top navbar */
  .top-navbar .inner-top-navbar {
    width: calc(100% - 64px);
    margin: 0 auto; }
    .top-navbar .inner-top-navbar .user-popup {
      position: absolute;
      right: 22px !important; }

  /* end top navbar */ }
@media (min-width: 1920px) {
  /* start left navbar */
  .navbar-left .tag-sm {
    width: 8px;
    height: 8px;
    background-color: #FF4411;
    position: absolute;
    top: 8px;
    right: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none; }

  /* end left navbar */ }
@media (max-height: 900px) {
  .navbar-left .prio-row4 {
    height: auto;
    padding: 0px 28px;
    position: static;
    margin-top: 24px;
    margin-bottom: 24px; } }

/*# sourceMappingURL=common-sales-panel.css.map */
