/*
1. Typography
2. Page Layout
3. Media Query Ranges
4. colors



*/
/********************************** 1. Typography********************/
/********************************** /Typography********************/
/********************************** 2. Page Layout********************/
/********************************** /Page Layout********************/
/********************************** 3. Media Query Ranges********************/
/********************************** /Media Query Ranges********************/
/********************************** 4. colors********************/
/********************************** /colors********************/
/*

(1) POSITIONS-MIXINS
(2) SHADOW-BOX
(3) BORDERS
(4) FLEX
(5) OVERLAY

*/
/********(1) POSITIONS-MIXINS***********/
/******** /POSITIONS-MIXINS***********/
/********(2) SHADOW-BOX***********/
/******** /SHADOW-BOX***********/
/********(3) BORDERS***********/
/******** /BORDERS***********/
/********(4) FLEX***********/
/******** /FLEX***********/
/********(5) OVERLAY***********/
/******** /OVERLAY***********/
/* start lightbox1 */
.lightbox1 {
  width: calc(100% - 272px);
  height: 100vh;
  position: fixed;
  left: 272px;
  top: 0;
  z-index: 30;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: none; }
  .lightbox1 .lightbox1-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(32, 33, 36, 0.9);
    background: rgba(32, 33, 36, 0.9);
    color: rgba(32, 33, 36, 0.9);
    cursor: pointer; }
  .lightbox1 .card {
    max-width: calc(100% - 64px);
    margin: 0 auto;
    background-color: #fff;
    padding: 32px; }
    .lightbox1 .card p {
      color: #202124;
      font-size: 20px;
      line-height: 32px;
      font-family: Roboto_medium;
      margin: 0px;
      margin-left: 16px; }
    .lightbox1 .card .buttons {
      margin-top: 48px;
      text-align: right; }
      .lightbox1 .card .buttons .delete-button-div {
        display: inline-block;
        vertical-align: middle; }
        .lightbox1 .card .buttons .delete-button-div .delete-button {
          padding: 0px;
          margin: 0px;
          width: auto;
          height: auto;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0px;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 11px;
          padding-bottom: 10px;
          text-transform: none;
          color: #fff;
          background-color: #1BB7C2;
          border: 0px solid transparent;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
          .lightbox1 .card .buttons .delete-button-div .delete-button:hover {
            color: #fff;
            background-color: #58D1D9;
            border: 0px solid transparent;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
      .lightbox1 .card .buttons .cancel-button-div {
        display: inline-block;
        vertical-align: middle; }
        .lightbox1 .card .buttons .cancel-button-div .cancel-button {
          padding: 0px;
          margin: 0px;
          width: auto;
          height: auto;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0px;
          padding-left: 29px;
          padding-right: 29px;
          padding-top: 11px;
          padding-bottom: 10px;
          text-transform: none;
          color: #BCBCBC;
          background-color: transparent;
          border: 0px solid transparent;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
          .lightbox1 .card .buttons .cancel-button-div .cancel-button:hover {
            color: #1BB7C2;
            background-color: transparent;
            border: 0px solid transparent;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }

/* end lightbox1 */
/* start main content */
.main-content-dashboard {
  height: auto; }
  .main-content-dashboard .inner-main-content-dashboard {
    height: auto; }
    .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row {
      width: 100%;
      height: auto; }
    .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 {
      margin-top: 32px; }
      .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .left-prio-row {
        width: 40%;
        height: auto;
        display: inline-block;
        vertical-align: top; }
        .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .left-prio-row .title {
          font-size: 36px;
          line-height: 43px;
          color: #202124;
          font-family: Roboto_light;
          margin: 0px; }
        .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .left-prio-row .subtitle {
          font-size: 14px;
          line-height: 20px;
          font-family: Roboto_medium;
          color: #BCBCBC;
          margin: 0px;
          margin-top: 6px; }
      .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row {
        width: 60%;
        height: auto;
        display: inline-block;
        vertical-align: top;
        text-align: right; }
        .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes {
          display: inline-block;
          vertical-align: middle;
          display: none; }
          .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes .option {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            position: relative;
            top: -1px; }
            .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes .option p {
              display: inline-block;
              vertical-align: middle;
              font-size: 16px;
              line-height: 20px;
              color: #BCBCBC;
              margin: 0px;
              margin-right: 12px; }
            .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes .option svg {
              display: inline-block;
              vertical-align: middle; }
          .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes .option:hover p {
            color: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes .option:hover svg path {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes .option:hover svg line {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .options-for-checked-checkboxes .option2 {
            margin-left: 48px;
            margin-right: 48px; }
        .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .search-newpost-div {
          display: inline-block;
          vertical-align: middle; }
          .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .search-newpost-div .search-div {
            width: 40px;
            height: 40px;
            border: 1px solid #BCBCBC;
            display: inline-block;
            vertical-align: middle;
            margin-right: 16px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: relative;
            cursor: pointer; }
            .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .search-newpost-div .search-div svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
          .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .search-newpost-div .newpost-button-div {
            display: inline-block;
            vertical-align: middle; }
            .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .search-newpost-div .newpost-button-div .newpost-button {
              padding: 0px;
              margin: 0px;
              width: auto;
              height: auto;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: 0px;
              padding-left: 60px;
              padding-right: 60px;
              padding-top: 10.5px;
              padding-bottom: 9.5px;
              text-transform: none;
              color: #fff;
              background-color: #1BB7C2;
              border: 0px solid transparent;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
              -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
              -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
              box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
              .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row1 .right-prio-row .search-newpost-div .newpost-button-div .newpost-button:hover {
                color: #fff;
                background-color: #58D1D9;
                border: 0px solid transparent;
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
    .main-content-dashboard .inner-main-content-dashboard .main-content-prio-row2 {
      height: auto;
      margin-top: 32px; }
    .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div {
      margin-bottom: 16px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div label {
        display: inline-block;
        vertical-align: middle; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div p {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: #202124;
        line-height: 20px;
        margin: 0px;
        position: relative;
        top: 1px;
        font-family: Roboto_medium; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox {
        padding: 0px !important;
        margin: 0px !important;
        display: inline-block !important; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
          border: 2px solid #BCBCBC;
          height: 24px;
          width: 24px;
          border-radius: 4px; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):after {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          border-radius: 4px;
          border-color: #1BB7C2;
          background-color: #1BB7C2; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):before {
          top: 0;
          left: 22px;
          width: 9px;
          height: 15px; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::after {
          background-color: transparent;
          border: 2px solid #EAEAEA; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::before {
          display: none; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox.small [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
          height: 16px;
          width: 16px;
          border-radius: 4px;
          top: calc(50% + 2px);
          left: 0px;
          transform: translateY(-50%); }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox.small [type="checkbox"].filled-in:checked + span:not(.lever):after {
          width: 16px;
          height: 16px;
          border-radius: 4px;
          top: calc(50% + 2px);
          left: 0px;
          transform: translateY(-50%); }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 .selectall-sm-div .prio-checkbox.small [type="checkbox"].filled-in:checked + span:not(.lever):before {
          left: 0.25px;
          width: 7px;
          height: 10px;
          top: 5.5px; }
    .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead {
      border-bottom: 0px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead tr {
        border: 0px !important;
        outline: 0px !important; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead th {
        color: #6D6D6D;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        font-family: Roboto_regular;
        margin: 0px; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead th .title-arrows {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          position: relative;
          top: -1px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead th .title-arrows .arrow-top {
            display: block;
            cursor: pointer; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead th .title-arrows .arrow-bottom {
            display: block;
            margin-top: 4px;
            cursor: pointer; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column {
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 12px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column1 {
        width: 80px;
        position: relative; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column1 label {
          position: relative;
          top: 18px; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column1 .checkbox-info {
          position: absolute;
          top: -28px;
          left: 50%;
          transform: translateX(-50%);
          background-color: #202124;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          padding: 5px 8px;
          white-space: nowrap;
          display: none; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column1 .checkbox-info p {
            color: #fff;
            font-size: 12px;
            line-height: 14px;
            margin: 0px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column1:hover .checkbox-info {
        display: block; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column2 {
        width: 150px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column3 {
        width: 560px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column4 {
        width: 216px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column5 {
        width: 143px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead .column6 {
        width: 136px; }
    .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16); }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr {
        background-color: #fff;
        border-bottom: 1px solid #EAEAEA; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr td .td-title {
          color: #202124;
          font-family: Roboto_medium;
          font-size: 14px;
          line-height: 20px;
          margin-right: 12px;
          display: none; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column1 {
          width: 80px;
          margin: 0px;
          padding: 0px;
          padding-top: 30.25px;
          padding-bottom: 28.5px;
          position: relative; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column1 .left-bar-active-table {
            width: 4px;
            height: calc(100% + 2px);
            background-color: #1BB7C2;
            position: absolute;
            left: 0;
            top: 0;
            display: none; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column1 .bottom-bar-active-table {
            width: 100%;
            height: 4px;
            background-color: #1BB7C2;
            position: absolute;
            left: 0;
            top: -4px;
            display: none; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column2 {
          width: 150px;
          padding: 0px;
          margin: 0px;
          padding-top: 30.25px;
          padding-bottom: 28.5px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column2 p {
            font-size: 14px;
            color: #202124;
            line-height: 20px;
            margin: 0px;
            display: inline-block;
            vertical-align: middle; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 {
          width: 560px;
          padding: 0px;
          margin: 0px;
          padding-top: 30.25px;
          padding-bottom: 28.5px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 p {
            font-size: 16px;
            color: #202124;
            line-height: 20px;
            font-family: Roboto_medium;
            margin: 0px;
            display: inline-block;
            vertical-align: middle; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column4 {
          width: 216px;
          padding: 0px;
          margin: 0px;
          padding-top: 30.25px;
          padding-bottom: 28.5px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column4 p {
            font-size: 14px;
            color: #202124;
            line-height: 20px;
            margin: 0px;
            display: inline-block;
            vertical-align: middle; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column5 {
          width: 143px;
          padding: 0px;
          margin: 0px;
          padding-top: 30.25px;
          padding-bottom: 28.5px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column5 p {
            font-size: 14px;
            color: #202124;
            line-height: 20px;
            margin: 0px;
            display: inline-block;
            vertical-align: middle; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 {
          width: 136px;
          padding: 0px;
          margin: 0px;
          padding-top: 30.25px;
          padding-bottom: 28.5px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 p {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
            font-family: Roboto_medium; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle {
            width: 8px;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-draft {
            background-color: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-published {
            background-color: #00DC81; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-unpublished {
            background-color: #FF4411; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 {
          padding: 0px;
          padding-top: 21px;
          padding-bottom: 19px;
          background-color: #fff; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon {
            display: inline-block;
            vertical-align: middle; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon svg {
              cursor: pointer; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon1 {
            position: relative;
            top: 2.75px; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon1 .icon1-info {
              position: absolute;
              top: -35px;
              left: 50%;
              transform: translateX(-50%);
              background-color: #202124;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              padding: 5px 8px;
              display: none; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon1 .icon1-info p {
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                margin: 0px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon1:hover path {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon1:hover line {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon1:hover .icon1-info {
            display: block; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon2 {
            margin: 0px 16px;
            position: relative;
            top: 3px; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon2 .icon2-info {
              position: absolute;
              top: -35px;
              left: 50%;
              transform: translateX(-50%);
              background-color: #202124;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              padding: 5px 8px;
              display: none; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon2 .icon2-info p {
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                margin: 0px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon2:hover path {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon2:hover line {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon2:hover .icon2-info {
            display: block; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon3 {
            position: relative;
            top: 2.5px; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon3 .icon3-info {
              position: absolute;
              top: -35px;
              left: 50%;
              transform: translateX(-50%);
              background-color: #202124;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              padding: 5px 8px;
              display: none; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon3 .icon3-info p {
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                margin: 0px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon3:hover path {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon3:hover line {
            stroke: #1BB7C2; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .icon3:hover .icon3-info {
            display: block; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .edit-button-div {
            display: inline-block;
            vertical-align: middle;
            margin-left: 21px; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .edit-button-div .edit-button {
              padding: 0px;
              margin: 0px;
              width: auto;
              height: auto;
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 0px;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 10px;
              padding-bottom: 9px;
              text-transform: capitalize;
              color: #fff;
              background-color: #1BB7C2;
              border: 0px solid transparent;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
              -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
              -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
              box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .edit-button-div .edit-button:hover {
                background-color: #58D1D9;
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .inner-column7 {
            display: none; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover {
        position: relative;
        z-index: 3;
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16); }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover .inner-column7 {
          display: block; }
    .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox {
      padding: 0px !important;
      margin: 0px !important;
      display: inline-block !important;
      position: absolute;
      left: 32px;
      top: calc(50% + 1.5px);
      transform: translateY(-50%); }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
        border: 2px solid #BCBCBC;
        height: 24px;
        width: 24px;
        border-radius: 4px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):after {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        border-radius: 4px;
        border-color: #1BB7C2;
        background-color: #1BB7C2; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox [type="checkbox"].filled-in:checked + span:not(.lever):before {
        top: 0;
        left: 22px;
        width: 9px;
        height: 15px; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::after {
        background-color: transparent;
        border: 2px solid #EAEAEA; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever)::before {
        display: none; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox.small [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
        height: 16px;
        width: 16px;
        border-radius: 4px;
        top: calc(50% + 2px);
        left: 0px;
        transform: translateY(-50%); }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox.small [type="checkbox"].filled-in:checked + span:not(.lever):after {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        top: calc(50% + 2px);
        left: 0px;
        transform: translateY(-50%); }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table .prio-checkbox.small [type="checkbox"].filled-in:checked + span:not(.lever):before {
        left: 0.25px;
        width: 7px;
        height: 10px;
        top: 5.5px; }

/* end main content */
@media (min-width: 320px) and (max-width: 767px) {
  /* start lightbox1 */
  .lightbox1 {
    width: calc(100% - 80px) !important;
    position: fixed;
    left: 80px !important; }

  /* end lightbox1 */
  /* start main content */
  .main-content-dashboard {
    width: calc(100% - 80px) !important;
    height: auto;
    margin-left: 80px !important; }
    .main-content-dashboard .inner-main-content-dashboard {
      width: calc(100% - 64px) !important;
      margin: 0 auto;
      height: auto; }
      .main-content-dashboard .inner-main-content-dashboard .left-prio-row {
        width: 100% !important;
        height: auto;
        display: block; }
        .main-content-dashboard .inner-main-content-dashboard .left-prio-row .title {
          font-size: 36px;
          line-height: 43px;
          color: #202124;
          font-family: Roboto_light;
          margin: 0px; }
        .main-content-dashboard .inner-main-content-dashboard .left-prio-row .subtitle {
          font-size: 14px;
          line-height: 20px;
          font-family: Roboto_medium;
          color: #BCBCBC;
          margin: 0px;
          margin-top: 6px; }
      .main-content-dashboard .inner-main-content-dashboard .right-prio-row {
        width: 100% !important;
        height: auto;
        display: block;
        margin-top: 32px;
        text-align: left !important; }
        .main-content-dashboard .inner-main-content-dashboard .right-prio-row .options-for-checked-checkboxes {
          width: 100%;
          margin-bottom: 12px;
          display: none; }
          .main-content-dashboard .inner-main-content-dashboard .right-prio-row .options-for-checked-checkboxes .option1 {
            margin-right: 24px !important; }
          .main-content-dashboard .inner-main-content-dashboard .right-prio-row .options-for-checked-checkboxes .option2 {
            margin-left: 0px !important;
            margin-right: 0px !important; }
        .main-content-dashboard .inner-main-content-dashboard .right-prio-row .search-newpost-div {
          display: block; }
          .main-content-dashboard .inner-main-content-dashboard .right-prio-row .search-newpost-div .search-div {
            margin-right: 12px !important; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table {
        border: 0px; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead {
          display: none; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody {
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody .even-tr {
            margin-left: 0px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr {
            width: 100%;
            display: inline-block;
            margin-bottom: 32px !important; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr td .td-title {
              display: inline-block;
              vertical-align: middle; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column1 {
              width: 100%;
              padding: 0px;
              padding-top: 32px;
              padding-bottom: 16px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column2 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 p {
                font-size: 14px;
                line-height: 20px;
                font-family: Roboto_regular; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column4 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column5 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              font-family: Roboto_regular;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 p {
                font-family: Roboto_regular; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle {
                width: 8px;
                height: 8px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 12px; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-draft {
                background-color: #1BB7C2; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-published {
                background-color: #00DC81; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-unpublished {
                background-color: #FF4411; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 {
              width: 100%;
              padding-top: 0px;
              padding-left: 32px;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .inner-column7 {
                display: block; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover {
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16); }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover .column1 .bottom-bar-active-table {
              display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  /* start lightbox1 */
  .lightbox1 {
    width: calc(100% - 80px) !important;
    position: fixed;
    left: 80px !important; }

  /* end lightbox1 */
  /* start main content */
  .main-content-dashboard {
    width: calc(100% - 80px) !important;
    height: auto;
    margin-left: 80px !important; }
    .main-content-dashboard .inner-main-content-dashboard {
      width: calc(100% - 64px) !important;
      margin: 0 auto;
      height: auto; }
      .main-content-dashboard .inner-main-content-dashboard .left-prio-row {
        width: 100% !important;
        height: auto;
        display: block; }
        .main-content-dashboard .inner-main-content-dashboard .left-prio-row .title {
          font-size: 36px;
          line-height: 43px;
          color: #202124;
          font-family: Roboto_light;
          margin: 0px; }
        .main-content-dashboard .inner-main-content-dashboard .left-prio-row .subtitle {
          font-size: 14px;
          line-height: 20px;
          font-family: Roboto_medium;
          color: #BCBCBC;
          margin: 0px;
          margin-top: 6px; }
      .main-content-dashboard .inner-main-content-dashboard .right-prio-row {
        width: 100% !important;
        height: auto;
        display: block;
        margin-top: 32px;
        text-align: left !important; }
        .main-content-dashboard .inner-main-content-dashboard .right-prio-row .options-for-checked-checkboxes {
          display: none; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table {
        border: 0px; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead {
          display: none; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody {
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody .even-tr {
            margin-left: 0px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr {
            width: 100%;
            display: inline-block;
            margin-bottom: 32px !important; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr td .td-title {
              display: inline-block;
              vertical-align: middle; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column1 {
              width: 100%;
              padding: 0px;
              padding-top: 32px;
              padding-bottom: 16px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column2 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 p {
                font-size: 14px;
                line-height: 20px;
                font-family: Roboto_regular; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column4 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column5 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              font-family: Roboto_regular;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 p {
                font-family: Roboto_regular; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle {
                width: 8px;
                height: 8px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 12px; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-draft {
                background-color: #1BB7C2; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-published {
                background-color: #00DC81; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-unpublished {
                background-color: #FF4411; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 {
              width: 100%;
              padding-top: 0px;
              padding-left: 32px;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .inner-column7 {
                display: block; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover {
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16); }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover .column1 .bottom-bar-active-table {
              display: block !important; } }
@media (min-width: 992px) and (max-width: 1679px) {
  .extrainfo {
    display: none !important; }

  /* start main content */
  .main-content-dashboard {
    width: calc(100% - 272px);
    height: auto;
    margin-left: 272px; }
    .main-content-dashboard .inner-main-content-dashboard {
      width: calc(100% - 64px);
      margin: 0 auto;
      height: auto; }
      .main-content-dashboard .inner-main-content-dashboard .right-prio-row .options-for-checked-checkboxes {
        width: 100%;
        margin-bottom: 12px;
        display: none;
        text-align: right; }
        .main-content-dashboard .inner-main-content-dashboard .right-prio-row .options-for-checked-checkboxes .option2 {
          margin-right: 0px !important; }
      .main-content-dashboard .inner-main-content-dashboard .table-row2 table {
        border: 0px; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table thead {
          display: none; }
        .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody {
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody .even-tr {
            margin-left: 32px; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr {
            width: calc(50% - 16px);
            display: inline-block;
            margin-bottom: 32px !important; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr td .td-title {
              display: inline-block;
              vertical-align: middle; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column1 {
              width: 100%;
              padding: 0px;
              padding-top: 32px;
              padding-bottom: 16px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column2 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column3 p {
                font-size: 14px;
                line-height: 20px;
                font-family: Roboto_regular; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column4 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column5 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              display: block; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 {
              width: 100%;
              padding-top: 0px;
              padding-bottom: 24px;
              padding-left: 32px;
              font-family: Roboto_regular;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 p {
                font-family: Roboto_regular; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle {
                width: 8px;
                height: 8px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 12px; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-draft {
                background-color: #1BB7C2; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-published {
                background-color: #00DC81; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column6 .circle-unpublished {
                background-color: #FF4411; }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 {
              width: 100%;
              padding-top: 0px;
              padding-left: 32px;
              display: block; }
              .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr .column7 .inner-column7 {
                display: block; }
          .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover {
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16); }
            .main-content-dashboard .inner-main-content-dashboard .table-row2 table tbody tr:hover .column1 .bottom-bar-active-table {
              display: block !important; } }
@media (min-width: 1680px) and (max-width: 1919px) {
  .extrainfo {
    display: none !important; }

  .table-row2 .selectall-sm-div {
    display: none; }
  .table-row2 tr .column1 {
    width: 80px; }
  .table-row2 tr .column2 {
    width: 110px !important; }
  .table-row2 tr .column3 {
    width: 500px !important; }
  .table-row2 tr .column4 {
    width: 180px !important; }
  .table-row2 tr .column5 {
    width: 103px !important; }
  .table-row2 tr .column6 {
    width: 100px !important; }
  .table-row2 tr .column7 {
    text-align: right;
    padding-right: 32px !important; }
  .table-row2 tr:hover .column1 .left-bar-active-table {
    display: block !important; }

  /* start main content */
  .main-content-dashboard {
    width: calc(100% - 272px);
    height: auto;
    margin-left: 272px; }
    .main-content-dashboard .inner-main-content-dashboard {
      width: calc(100% - 64px);
      margin: 0 auto;
      height: auto; } }
@media (min-width: 1920px) {
  .extrainfo {
    display: none !important; }

  .table-row2 .selectall-sm-div {
    display: none; }
  .table-row2 tr:hover .column1 .left-bar-active-table {
    display: block !important; }

  /* start main content */
  .main-content-dashboard {
    width: calc(100% - 272px);
    margin-left: 272px; }
    .main-content-dashboard .inner-main-content-dashboard {
      width: 1504px;
      margin: 0 auto; } }

/*# sourceMappingURL=dashboard.css.map */
