/*
1. Typography
2. Page Layout
3. Media Query Ranges
4. colors



*/
/********************************** 1. Typography********************/
/********************************** /Typography********************/
/********************************** 2. Page Layout********************/
/********************************** /Page Layout********************/
/********************************** 3. Media Query Ranges********************/
/********************************** /Media Query Ranges********************/
/********************************** 4. colors********************/
/********************************** /colors********************/
/*

(1) POSITIONS-MIXINS
(2) SHADOW-BOX
(3) BORDERS
(4) FLEX
(5) OVERLAY

*/
/********(1) POSITIONS-MIXINS***********/
/******** /POSITIONS-MIXINS***********/
/********(2) SHADOW-BOX***********/
/******** /SHADOW-BOX***********/
/********(3) BORDERS***********/
/******** /BORDERS***********/
/********(4) FLEX***********/
/******** /FLEX***********/
/********(5) OVERLAY***********/
/******** /OVERLAY***********/
#prio .prio-custom-tabs { box-shadow: none; max-width: 324px; width: 100%; border: 1px solid #1BB7C2; border-radius: 50px; float: right; }
#prio .prio-custom-tabs .tab { flex-grow: 0; max-width: 156px; width: 100%; margin-right: 15px; position: relative; top: -1px; }
#prio .prio-custom-tabs .tab.last-tab { margin-right: 0; }
#prio .prio-custom-tabs .tab a { max-width: 156px; width: 100%; font-size: 18px; font-family: RobotoRegular, sans-serif; border-radius: 50px; color: #1BB7C2; text-transform: capitalize; }
#prio .prio-custom-tabs .tab a.active { background-color: #1BB7C2; color: #fff; }
#prio .prio-custom-tabs .indicator { display: none; }
#prio .prio-select-partner h6 { margin-bottom: 30px; }
#prio .prio-select-partner .prio-gray-select { max-width: 432px; }
#prio .prio-select-date h6 { margin-bottom: 16px; }
#prio .prio-select-date .prio-gray-input { max-width: 432px; }
#prio .prio-select-date .prio-gray-input .prio-calender-icon { position: absolute; right: 20px; top: 8px; font-size: 22px; color: #BCBCBC; }
#prio .prio-select-date .prio-gray-input .prio-calender-icon.active, #prio .prio-select-date .prio-gray-input .prio-calender-icon:hover { color: #1BB7C2; }
