#prio{
    .prio-btn { padding: 0 29px; text-align: center; border-radius: 50px; color: $body3Color; font-size: 14px; white-space: nowrap; display: inline-flex; align-items: center; height: 36px;
                &.primary { color: $primaryColor; font-family: $font-medium;
                            &:hover { background-color: rgba(27, 183, 194, 0.2) };
                }
                &:hover { background-color: rgba(188, 188, 188, 0.2) }
                &.icon-right {
                    i{ left: 12px;}
                }
                i { position: relative; left: -6px; font-size: 19px;}
                &.disabled { cursor: not-allowed; color: $body2Color; background: none; }
    }
    .prio-btn-border { background: transparent; border: 1px solid #202124; color: #202124; font-size: 14px; font-family: $font-stack; 
                       &.primary { border-color: $primaryColor; color: $primaryColor; display: inline-flex; align-items: center; height: 36px; font-family: $font-stack;
                                   &:hover { background-color: $primaryColor; color: $whiteColor; }}
                                   &.small { display: inline-flex; align-items: center; height: 32px; font-size: 12px; padding: 0 27.7px;}
                                   &.disabled {cursor: not-allowed; color: $body2Color; border-color: $body2Color }


                       }
                       .prio-btn-full { background: #202124; border: 1px solid #202124; color: #fff; font-size: $full-button; padding: 0 29px;  
                                        &.primary { background-color: $primaryColor; border-color: $primaryColor; color: $whiteColor;
                                                    &:hover { background-color: #58D1D9; color: $whiteColor; border-color: #58D1D9; }
                                        }
                                        &.prio-btn-icon { padding: 0 31px;}
                                        &.large{ padding: 8px 59px; height: 30px; font-size: 12px;}
                                        &.disabled { color: #BCBCBC; background-color: $disabledColor; border-color: $disabledColor;  margin-right: 0 !important;
                                        &:hover { background-color: #eaeaea; }}
                                        &.prio-white-btn { background-color: #fff; color: $primaryColor; border: 1px solid $whiteColor;
                                        &:hover { background-color: $whiteColor; color: primaryColor;}}
                                        &:hover { background-color: #202124;}
                       }
    }