.prio-label { color: $disabledlabelColor !important;}
a { color: $primaryColor; text-decoration: underline;}
label { color: $labelColor !important;}

/********************** TEXT COLOR***********************/

.white-color { background-color: $whiteColor; }
.body1-color { background-color: $body1Color;}
.body2-color { background-color: $body2Color;}
.body3-color { background-color: $body3Color;}
.body4-color { background-color: $body4Color;}
.body5-color { background-color: $body5Color;}

.action-backgroundColor { background-color: $actionColor;}
.action1-backgroundColor { background-color: $action1Color;}
.action2-backgroundColor { background-color: $action2Color;}
.action3-backgroundColor { background-color: $action3Color;}
.action4-backgroundColor { background-color: $action4Color;}

.action-Color { color: $actionColor;}
.action1-Color { color: $action1Color;}
.action2-Color { color: $action2Color;}
.action3-Color { color: $action3Color;}
.action4-Color { color: $action4Color;}

/********************** /TEXT COLOR***********************/