/*

(1) POSITIONS-MIXINS
(2) SHADOW-BOX
(3) BORDERS
(4) FLEX
(5) OVERLAY

*/
/********(1) POSITIONS-MIXINS***********/
@mixin position(){ position: absolute; top: 0; bottom: 0; right: 0; left: 0; }
@mixin position-top() { position: absolute; top: 0; bottom: auto; right: 0; left: 0; }
@mixin position-bottom() { position: absolute; top: auto; bottom: 0; right:0; left: 0; }
@mixin position-right() { position: absolute; top: 0; bottom: 0; right: 0; left: auto; }
@mixin position-left() { position: absolute; top: 0; bottom: 0; right: auto; left: 0; }
/******** /POSITIONS-MIXINS***********/

/********(2) SHADOW-BOX***********/
@mixin shadow-box(){ box-shadow: 0 0 5px rgba(0, 0, 0, 0.16); }
/******** /SHADOW-BOX***********/

/********(3) BORDERS***********/
@mixin border(){ border: 1px solid; }
@mixin border-bottom(){ border-bottom: 1px solid $borderColor; }
@mixin border-top(){ border-top: 1px solid $borderColor; }
@mixin border-right(){ border-right: 1px solid $borderColor; }
@mixin border-left(){ border-left: 1px solid $borderColor; }
/******** /BORDERS***********/

/********(4) FLEX***********/
@mixin flex() { display: flex; }
@mixin flex-center(){ display: flex; align-items: center; justify-content: center; }
@mixin flex-end(){ display: flex; align-items: center; justify-content: flex-end; }
@mixin flex-justify-center(){ display: flex; justify-content: center; }
@mixin flex-justify-end(){ display: flex; justify-content: flex-end; }
@mixin flex-justify-space-between(){ display: flex; justify-content: space-between;}
@mixin flex-justify-space-around(){ display: flex; justify-content: space-around;}
@mixin flex-align-center(){ display: flex; align-items : center; }
@mixin flex-align-end(){ display: flex; align-items : flex-end; }
/******** /FLEX***********/

/********(5) OVERLAY***********/
@mixin overlay(){ content: ""; background: $black; opacity: 0.1; @include position(); }
/******** /OVERLAY***********/

