.prio-progress-bar-parent {
  max-width: 192px;
  .prio-progress-bar {
    display: flex;
    justify-content: space-between;
    color: $body3Color;
    margin-bottom: 2px;
    .prio-caption {
      font-family: $font-light;
      line-height: 20px;
    }
  }
  .prio-progress-border {
    background-color: $progressBackgroundColor;
    .primary {
      background-color: $primaryColor;
    }
    .orange {
      background-color: $action4Color !important;
    }
    .yellow {
      background-color: $action3Color;
    }
    .light-yellow {
      background-color: $action2Color;
    }
    .light-green {
      background-color: $action1Color;
    }
    .dark-green {
      background-color: $actionColor;
    }
  }
}
