html {

    font-family: $font-stack;
    font-weight: normal;
    color: $off-black;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; line-height: $h1-lineheight; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0; font-weight: 300; font-family: $font-light; }
h2 { font-size: $h2-fontsize; line-height: $h2-lineheight; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0; font-weight: 300; font-family: $font-stack;}
h3 { font-size: $h3-fontsize; line-height: $h3-lineheight; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0; font-weight: 400;}
h4 { font-size: $h4-fontsize; line-height: $h4-lineheight; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0; font-weight: 400;}
h5 { font-size: $h5-fontsize; line-height: $h5-lineheight; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0; font-weight: 400;}
h6 { font-size: $h6-fontsize; line-height: 2rem; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0; font-weight: 500;}

.prio-subtitle {
  font-size: $subtitle-fontsize;
  line-height: 1.75rem;
  font-weight: 400;
  font-family: $font-medium;
}

.prio-subtitle2 {
    font-size: $subtitle2-fontsize;
    line-height: 2rem;
    font-weight: 400;
    font-family: $font-stack;
}

.prio-caption {
  font-size: $caption-fontsize;
  line-height: 0.85rem;
  font-weight: 400;
  font-family: $font-stack; 
 }

.prio-body1 {
  font-size: $body1-fontsize;
  line-height: 1.5rem;
  font-weight: 400;
  font-family:$font-stack; 
 }
.prio-body2 {
  font-size: $body2-fontsize;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: $font-medium; 
}
.prio-body3 {
  font-size: $body3-fontsize;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: $font-stack;
}
.prio-body4 {
  font-size: $body4-fontsize;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: $font-medium;
}
.prio-body5 {
  font-size: $body5-fontsize;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: $font-medium;
}
.prio-body6 {
  font-size: $body6-fontsize;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: $font-light;
}

.prio-label {
    font-size: $labelSize;
    font-weight: 400;
    font-family: $font-bold;
}





